@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=JetBrains+Mono&display=swap");

:root {
  --background-root: #0e1525;
  --background-default: #1c2333;
  --background-higher: #2b3245;
  --background-highest: #3c445c;
  --background-overlay: #0e1525a0;
  --foreground-default: #f5f9fc;
  --foreground-dimmer: #c2c8cc;
  --foreground-dimmest: #9da2a6;
  --outline-dimmest: #2b3245;
  --outline-dimmer: #3c445c;
  --outline-default: #4e5569;
  --outline-stronger: #5f677a;
  --outline-strongest: #70788c;
  --accent-primary-dimmest: #004182;
  --accent-primary-dimmer: #0053a6;
  --accent-primary-default: #0079f2;
  --accent-primary-stronger: #57abff;
  --accent-primary-strongest: #b2d9ff;
  --font-family-default: "IBM Plex Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--background-default);
  font-family: var(--font-family-default);
  color: var(--foreground-default);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

span.header {
  font-size: 18px;
  font-weight: 500;
  color: var(--foreground-default);
}

p {
  font-size: 14px;
  font-weight: 400;
  color: var(--foreground-default);
}

svg {
  vertical-align: middle;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
